@import 'antd/dist/reset.css';

body,div,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
  
body{
  background-color : aliceblue;
}

a{
  text-decoration: none;
  color: #333;
  outline: none;
}

.content-layout{
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}